// MAIN FAMILY FONT
$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;


// MAIN THEME COLOR
$color-primary: #8e44ad;
$color-second : #a1a1a1;
$color-orange: #f39c12;
$color-black: #333;
$color-white: #fff;
